<!-- Hero Section -->
<h1>Welcome to CSE Motors!</h1>
<section class="hero">
    <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
    <div class="hero-content">
        <h2>DMC Delorean</h2>
        <p>3 Cup Holders</p>
        <p>Superman Doors</p>
        <p>Fuzzy Dice!</p>
        <img src="/images/site/own_today.png" alt="Own Today">
    </div>
</section>

<!-- Features Section -->
<section class="features">
    <div class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="row">
            <div class="upgrade-item">
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <a class="disabled-link" href="#">Flux Capacitor</a>
            </div>
            <div class="upgrade-item">
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                <a class="disabled-link" href="#">Flame Decals</a>
            </div>
        </div>

        <div class="row">   
            <div class="upgrade-item">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                <a class="disabled-link" href="#">Bumper Stickers</a>
            </div>
            <div class="upgrade-item">
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                <a class="disabled-link" href="#">Hub Caps</a>

            </div>
        </div>
    </div>

    <!-- Reviews Section -->
    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (5/5)</li>
            <li>"I'm feeling Marty McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80s style with a modern twist!" (4/5)</li>
        </ul>
    </div>
</section>